.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
test/output/
test/sg13cmos5l_stdcell_func.v
test/tb_core.fst
test/sim_build_core
formal/build/
__pycache__/
.pytest_cache/
